.form-check-input {
  width: 1.2em;
  height: 1.2em;
  margin-top: 0.2em;
}

.form-check-label {
  cursor: pointer;
  margin-left: 0.5em;
}

.list-group-item {
  padding-left: 0;
  background-color: transparent;
}